# Local package
-e .

# external requirements
black
jupyter
matplotlib>=3.8.0
numpy
opencv-python
opencv-python
seaborn
scipy
scikit-learn
tikzplotlib
torch
torchvision
torchmetrics
tqdm

fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
python-multipart==0.0.6

requests==2.31.0
pytest==7.4.3
httpx==0.25.2
